/* styles.css */

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body > * {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
p {
  text-align: center;
  font-size: 1.2em;
  margin: 20px;
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}


/* Style the header */
h1 {
    text-align: center;
    color: #22573d;
    font-size: 3em;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #990606;
    font-size: 2.7em;
    margin-top: 20px;
}

h3 {
   text-align: center;
    font-size: 2.1em;
    margin-top: 20px;
}

h6 {
    text-align: center;
    color: #120af5;
    font-size: 1.3em;
    margin-top: 20px;
}


.image-container {
    display: grid;
    place-items: center;       /* Centers the image both horizontally and vertically */
    height: 90vh;             /* Container height, adjust as needed */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Define the keyframes for fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Create a class to apply the fadeIn animation */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

/* Define the keyframes for fadeOut */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Apply fade-out animation */
.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}



.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a63c37;
    overflow-x: hidden;
    padding-top: 35px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #96b5ec;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
