body {
    background-image: url('https://i.postimg.cc/5NPmTFYv/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Geist Sans', sans-serif;
    color: #19358a;
    margin: 0;
    padding: 0;
}

.section-bubble {
    background-color: #68d9d9;
    padding: 20px;
    border-radius: 30px;
    width: 1500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
}

/* Existing sidenav styles */
.sidenav {
    height: 100%;
    width: 0; /* Initially hidden */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a63c37;
    overflow-x: hidden;
    padding-top: 35px;
    transition: 0.5s;
}

.sidenav a {
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #96b5ec;
}

.sidenav a i {
    margin-right: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    color: #333;
}
